In [23]:
from bs4 import BeautifulSoup
import requests
import csv
url = "https://www.worldometers.info/coronavirus/"
html = requests.get(url).text
soup = BeautifulSoup(html, "html.parser")

In [24]:
soup.title.string

'Coronavirus Update (Live): 59,002,157 Cases and 1,393,879 Deaths from COVID-19 Virus Pandemic - Worldometer'

In [25]:
tr = soup.find_all('tr')

In [26]:
def extract_text(row, tag):
    element = BeautifulSoup(row, 'html.parser').find_all(tag)
    text = [col.get_text() for col in element]
    return text

In [27]:
heading = tr.pop(0)

In [28]:
heading_row = extract_text(str(heading), 'th')

In [29]:
heading_row = heading_row[1:9]

In [30]:
print(heading_row)

['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases']

In [31]:
len(heading_row)

8

In [46]:
tds = [extract_text(str(row), 'td')[1:9] for row in tr]

In [53]:
import pandas as pd

In [63]:

df = pd.DataFrame(tds)

In [64]:
df.to_csv('corona.csv')

In [66]:
df.head(30)

,0,1,2,3,4,5,6,7
0,\nNorth America\n,"14,720,427","+9,260","392,177",+313,"9,062,140","+4,216","5,266,110"
1,\nAsia\n,"15,794,577","+9,054","278,303",+111,"14,177,868","+8,089","1,338,406"
2,\nSouth America\n,"10,712,584",+56,"317,186",+3,"9,629,556",+158,"765,842"
3,\nEurope\n,"15,647,602","+12,820","355,392",+220,"6,119,433","+4,282","9,172,777"
4,\nAfrica\n,"2,082,709",,"49,802",,"1,753,722",,"279,185"
5,\nOceania\n,"43,537",+15,"1,004",,"32,980",+5,"9,553"
6,\n\n,721,,15,,659,,47
7,World,"59,002,157","+31,205","1,393,879",+647,"40,776,358","+16,750","16,831,920"
8,USA,"12,589,088",,"262,701",,"7,452,616",,"4,873,771"
9,India,"9,140,312",,"133,773",,"8,562,641","+1,197","443,898"
10,Brazil,"6,071,401",,"169,197",,"5,432,505",,"469,699"
11,France,"2,140,208",,"48,732",,"149,521",,"1,941,955"
12,Russia,"2,089,329",,"36,179",,"1,595,443",,"457,707"
13,Spain,"1,589,219",,"42,619",,N/A,N/A,N/A
14,UK,"1,512,045",,"55,024",,N/A,N/A,N/A
15,Italy,"1,408,868",,"49,823",,"553,098",,"805,947"
16,Argentina,"1,370,366",,"37,002",,"1,195,492",,"137,872"
17,Colombia,"1,248,417",,"35,287",,"1,150,932",,"62,198"
18,Mexico,"1,041,875","+9,187","101,676",+303,"779,104","+4,174","161,095"
19,Peru,"949,670",,"35,595",,"879,439",,"34,636"
20,Germany,"932,111",,"14,343",,"603,800",,"313,968"
21,Poland,"861,331",,"13,618",,"423,971",,"423,742"
22,Iran,"854,361",,"44,802",,"603,445",,"206,114"
23,South Africa,"767,679",,"20,903",,"710,099",,"36,677"
24,Ukraine,"635,689","+10,945","11,075",+124,"291,060","+4,143","333,554"
25,Belgium,"558,779","+1,875","15,618",+96,"35,949",+139,"507,212"
26,Chile,"540,640",,"15,069",,"516,121",,"9,450"
27,Iraq,"535,321",,"11,958",,"465,452",,"57,911"
28,Indonesia,"497,668",,"15,884",,"418,188",,"63,596"
29,Czechia,"492,263",,"7,196",,"398,101",,"86,966"